<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servicesample">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceSample">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.servicesample.services.BackgroundService"
            android:label="@string/started_service_process_label"
            android:description="@string/started_service_desc"
            android:exported="false" />

        <!--  android:process="@string/started_service_process_name" -->

        <service android:name="com.example.servicesample.services.ForegroundService"
            android:label="@string/foreground_service_process_label"
            android:process="@string/foreground_service_process_name"
            android:description="@string/foreground_service_desc"
            android:exported="false" />

    </application>

</manifest>